services:
    shop-system-mysql:
        container_name: shop-system-mysql
        image: mysql:9.1
        volumes:
            - ./docker/mysql/data:/var/lib/mysql
            - ./docker/mysql/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
        environment:
            MYSQL_ROOT_PASSWORD: root_password
            MYSQL_DATABASE: shop_system_auth
            MYSQL_USER: shop_user
            MYSQL_PASSWORD: shop_password
        ports:
            - "3306:3306"

    shop-system-elasticsearch:
        container_name: shop-system-elasticsearch
        image: docker.elastic.co/elasticsearch/elasticsearch:8.18.0
        environment:
            - discovery.type=single-node
            - bootstrap.memory_lock=true
            - ES_JAVA_OPTS=-Xms512m -Xmx512m
            - xpack.security.enabled=false
        ulimits:
            memlock:
                soft: -1
                hard: -1
        volumes:
            - ./docker/elasticsearch/data:/usr/share/elasticsearch/data
        ports:
            - "9200:9200"

    shop-system-redis:
        container_name: shop-system-redis
        image: redis:7.4
        restart: on-failure
        ports:
            - "6379:6379"
        volumes:
            - ./docker/redis/data:/data
            
    shop-system-rabbitmq:
        container_name: shop-system-rabbitmq
        image: rabbitmq:4.1-management
        ports:
            - "5672:5672"
            - "15672:15672"
        volumes:
            - ./docker/rabbitmq/data:/var/lib/rabbitmq

    shop-system-mailhog:
        container_name: shop-system-mailhog
        image: mailhog/mailhog
        ports:
            - "8025:8025"
            - "1025:1025"

    shop-system-backend:
        container_name: shop-system-backend
        build:
            context: ./docker/php
        restart: always
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ../:/var/www:cached
        depends_on:
            - shop-system-mysql
            - shop-system-elasticsearch
            - shop-system-redis
            - shop-system-rabbitmq
            - shop-system-mailhog

    shop-system-payments:
        container_name: shop-system-payments
        build:
            context: ../microservices/payments
        restart: always
        ports:
            - "8080:8080"
        volumes:
            - ../microservices/payments:/app
            - /app/tmp
        env_file:
            - ../microservices/payments/.env
        depends_on:
            - shop-system-rabbitmq
            - shop-system-mysql

#    shop-system-seeder:
#        container_name: shop-system-seeder
#        build:
#            context: ../microservices/seeder
#        restart: always
#        ports:
#            - "8081:8081"
#        volumes:
#            - ../microservices/seeder:/app
#        env_file:
#            ../microservices/seeder/.env
#        depends_on:
#            - shop-system-mysql

    shop-system-worker-async:
        container_name: shop-system-worker-async
        build:
            context: ./docker/php
        restart: always
        volumes:
            - ../:/var/www:cached
        depends_on:
            - shop-system-backend
            - shop-system-rabbitmq
            - shop-system-mysql
        command: sh -c "sleep 10 && php bin/console messenger:consume async -vv"

    shop-system-worker-payments:
        container_name: shop-system-worker-payments
        build:
            context: ./docker/php
        restart: always
        volumes:
            - ../:/var/www:cached
        depends_on:
            - shop-system-backend
            - shop-system-rabbitmq
            - shop-system-mysql
        command: sh -c "sleep 10 && php bin/console messenger:consume payments_events -vv"

    shop-system-frontend:
        container_name: shop-system-frontend
        image: oven/bun:1.3-alpine
        command: sh -c "bun install && bun run dev"
        ports:
            - "3000:3000"
        volumes:
            - ../frontend:/var/www/html
        working_dir: /var/www/html
        restart: on-failure
        stdin_open: true
        tty: true

networks:
    default:
        name: shop_system_network
