doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '15'

        profiling_collect_backtrace: '%kernel.debug%'
    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            Order:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Module/Order/Domain/Entity'
                prefix: 'App\Module\Order\Domain\Entity'
                alias: Order
            Product:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Module/Product/Domain/Entity'
                prefix: 'App\Module\Product\Domain\Entity'
                alias: Product
            User:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Module/User/Domain/Entity'
                prefix: 'App\Module\User\Domain\Entity'
                alias: User

when@test:
    doctrine:
        dbal:
            url: "sqlite:///%kernel.project_dir%/var/app.db"

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
