
###> symfony/framework-bundle ###
.env
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> php storm ###
.idea
###< php storm ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> docker ###
/mysql
###< docker ###

###> notepad++ ###
README.md.bak
###<

###> qossmic/deptrac-shim ###
/.deptrac.cache
###< qossmic/deptrac-shim ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> qossmic/deptrac ###
/.deptrac.cache
###< qossmic/deptrac ###
