apiVersion: apps/v1
kind: Deployment
metadata:
    name: payments
    namespace: shop-system
    labels:
        app.kubernetes.io/name: shop-system
        app.kubernetes.io/component: payments
        app.kubernetes.io/instance: local
spec:
    replicas: 1
    selector:
        matchLabels:
            app.kubernetes.io/component: payments
    template:
        metadata:
            labels:
                app.kubernetes.io/name: shop-system
                app.kubernetes.io/component: payments
                app.kubernetes.io/instance: local
        spec:
            containers:
                - name: payments
                  image: maciekiwaniuk/shop-system-payments:latest
                  ports:
                      - containerPort: 8080
                        name: http
                  envFrom:
                      - configMapRef: { name: payments-config }
                      - secretRef:    { name: payments-secrets }
                  livenessProbe:
                      httpGet:
                          path: /health
                          port: 8080
                      initialDelaySeconds: 20
                      periodSeconds: 10
                      timeoutSeconds: 3
                      failureThreshold: 3
                  readinessProbe:
                      httpGet:
                          path: /health
                          port: 8080
                      initialDelaySeconds: 10
                      periodSeconds: 5
                      timeoutSeconds: 3
                      failureThreshold: 3
                  resources:
                      requests:
                          memory: "128Mi"
                          cpu: "100m"
                      limits:
                          memory: "256Mi"
                          cpu: "500m"
