@import "tailwindcss";

@theme {
    --color-background: #ffffff;
    --color-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    @theme {
        --color-background: #0a0a0a;
        --color-foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

