*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

vendor/

.idea

.terraform
*.tfstate
*.tfstate.*backup
terraform/.env
terraform/cloud-builders-community

/web/src/repositories/clients/*
!/web/src/repositories/clients/trainer/src/
!/web/src/repositories/clients/trainings/src/
!/web/src/repositories/clients/users/src/

/service-account-file.json

.go/
.go-cache/
