PORT=8080
GIN_MODE=debug

DB_HOST=shop-system-mysql
DB_PORT=3306
DB_NAME=shop_system_payments
DB_USER=shop_user
DB_PASSWORD=shop_password

REDIS_HOST=shop-system-redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=2

LOG_LEVEL=info
