<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome {{ fullName }}!</h1>
    <p>Thanks for registering. We're glad to have you!</p>
</body>
</html>
