apiVersion: apps/v1
kind: StatefulSet
metadata:
    name: rabbitmq
    namespace: shop-system
    labels:
        app.kubernetes.io/name: shop-system
        app.kubernetes.io/component: rabbitmq
        app.kubernetes.io/instance: local
spec:
    serviceName: rabbitmq
    replicas: 1
    selector:
        matchLabels:
            app.kubernetes.io/component: rabbitmq
    template:
        metadata:
            labels:
                app.kubernetes.io/name: shop-system
                app.kubernetes.io/component: rabbitmq
                app.kubernetes.io/instance: local
        spec:
            containers:
                - name: rabbitmq
                  image: rabbitmq:4.1-management
                  ports:
                      - containerPort: 5672
                        name: amqp
                      - containerPort: 15672
                        name: management
                  volumeMounts:
                      - mountPath: /var/lib/rabbitmq
                        name: rabbit-storage
                  livenessProbe:
                      exec:
                          command:
                              - rabbitmq-diagnostics
                              - -q
                              - ping
                      initialDelaySeconds: 60
                      periodSeconds: 30
                      timeoutSeconds: 10
                  readinessProbe:
                      exec:
                          command:
                              - rabbitmq-diagnostics
                              - -q
                              - check_running
                      initialDelaySeconds: 20
                      periodSeconds: 10
                      timeoutSeconds: 10
            volumes:
                - name: rabbit-storage
                  persistentVolumeClaim:
                      claimName: rabbitmq-pvc
